*{
    margin: 0;
    padding: 0;
}
#banner{
    background:  linear-gradient(rgba(0,0,0,0.5),#009688) , url(/images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
    font-family: 'Kaushan Script', cursive;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    transition: color 0.5s;
    z-index: 1;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background : #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
    height: 100%;
}
.banner-btn a:hover{
    color: #000;
}
#sideNav{
    width: 300px;
    height: 100vh;
    position: fixed;
    right: -300px;
    top: 0;
    transition: 0.5s;
    background: #009688;
    z-index: 3;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    top: 20px;
    right: 30px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
#features{
    background: #fff;
}
@media screen and (max-width:770px) {
    .banner-text h1{
        font-size: 44px;
    }
    .banner-btn a{
        display: block;
        margin: 12px auto;   
    }
}

/* feature */

#feature{
    width: 100%;
    padding: 70px 0;
    cursor: default;
}

.tittle-text{
    text-align: center;
    padding-bottom: 70px;
    cursor: default;
}
.tittle-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
}

.tittle-text h2::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position : absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.tittle-text h2{
    font-size: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features{
    flex-basis: 50%;
}
.features h3{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
    
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}
.feature-text p{
    padding: 0 20px;
    text-align: initial;
}
#feature nav ul li{
    transition: 1s;
}
@media screen and (max-width:770px) {
    .features-img img{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

/* Services */
#service{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
    z-index: -1;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    text-align: center;
    flex-basis: 48%;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-service img{
    border-radius: 7px;
    width: 100%;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    color: #efefef;
    transition: 1s;
    cursor: pointer;
}
.single-service:hover .service-desc h3{
    color: #efefef;
}
.service-desc p{
    font-size: 14px;
    opacity: 0;
}
.single-service:hover .service-desc p{
    opacity: 1;
    color: #efefef;
}
.single-service:hover .service-desc{
    bottom: 40%;
}
hr {
    background: #fff;
    height: 2px;
    border: 1;
    margin: 15px auto ;
    width: 60%;
    height: 60%;
}
@media screen and (max-width:770px) {
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc p{
        font-size: 12px;
        bottom: auto;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-desc{
        bottom: 25% !important;
    }
    .service-desc{
        width: 100%;
        position: flex;
    }
    .service-desc h3{
        font-size: 30px;
        color: #009688;
        transition: 0.5s;
    }
    .service-desc:hover h3{
        color: #efefef;
        font-size: 25px;
    }
}

/* Testimonial */
#testimonial{
    width: 100%;
    padding: 75px 0;
}

.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform .5s;
}
.testimonial-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 30%;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .fa{
    margin-left: 10px;
    color: #37c0ff;
    font-size: 20px;
    z-index: -1;
}
.user-info small{
    color: #009688;
}
.testimonial-col:hover{
    transform: translateY(-10px);
}
@media screen and (max-width : 770px) {
    .testimonial-col{
        flex-basis: 100%;
    }
}

/* Footer */
#footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
    cursor: default;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-rigt{
    flex-basis: 45%;
    padding: 10%;
    margin-bottom: 20px;
}
.footer-row h2{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-left .fa ,.footer-rigt .fa{
    font-size: 20px;
    color: #009688;
    margin: 10px;
}
.footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.social-links{
    text-align: center;
}
.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition: 0.5s;
}
.social-links .fa:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
}
